# Ignore Play! working directory #
.eclipse
.cache
.history
bin/
/db
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
/.idea
/*.iml
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
