@(message: String)
@views.html.main("Welcome to Play") {
    <div class="about-banner">
        <img src="@routes.Assets.versioned("images/about/about_us.png")">
    </div>
    <div class="container content">
        <div class="title-box-v2">
            <h2>About <span class="color-green">ANARA CONSULTANT</span></h2>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-center">ANARA CONSULTANT were established and are managed by
                            professionals having extensive experience
                            in HRD, IT Industry Marketing, Financial Management,
                            Constructions Industries etc. with the entire necessary infrastructure.</p>
                        <p class="text-center">ANARA Consultant is one among and leading recruitment
                            Agency in India & Gulf, providing Professional recruitment
                            Consultancy services. ANARA CONSULTANT is already recognized
                            as highly successful in providing its clients, reliable,
                            qualified and cost effective solutions to their manpower
                            need either from our comprehensive database or through
                            creative advertisements & walk in interview selection.</p>
                    </div>
                </div>
            </div><!--/col-md-8-->

            <div class="col-md-4">
                <h3 class="heading-xs no-top-space">Hospitality Industry<span class="pull-right">88%</span></h3>
                <div class="progress progress-u progress-xs">
                    <div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <h3 class="heading-xs no-top-space">Medical <span class="pull-right">76%</span></h3>
                <div class="progress progress-u progress-xs">
                    <div style="width: 76%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="76" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <h3 class="heading-xs no-top-space">Construction <span class="pull-right">97%</span></h3>
                <div class="progress progress-u progress-xs">
                    <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <h3 class="heading-xs no-top-space">Oil & Gas Field <span class="pull-right">68%</span></h3>
                <div class="progress progress-u progress-xs">
                    <div style="width: 68%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="68" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
            </div><!--/col-md-4-->
        </div>
    </div>
    <div class="parallax-bg">
        <div class="container content parallax-about">
            <div class="title-box-v2">
                <h2 style="color:#79e6c5">Why Choose us</h2>
                <p>At ANARA CONSULTANT we want to understand your goals,
                    your needs and how the inevitable changes of this business are affecting your world.
                    With such an understanding we then match the right talent to deliver successful results.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="banner-info light margin-bottom-10">
                        <i class="rounded-x fa fa-bell"></i>
                        <div class="overflow-h">
                            <h3>Our mission</h3>
                            <p>We foster a culture of trust and continuous learning while meeting expectations of clients, candidates, contractors and our employees</p>
                        </div>
                    </div>
                    <div class="banner-info light margin-bottom-10">
                        <i class="rounded-x fa fa-flag"></i>
                        <div class="overflow-h">
                            <h3>Our vision</h3>
                            <p>The pursuit of quality manpower and utmost customer satisfaction
                                is a legacy that we treasure the most. It is a tradition that
                                we strive to nurture and maintain</p>
                        </div>
                    </div>
                    <div class="banner-info light margin-bottom-10">
                        <i class="rounded-x fa fa-bookmark"></i>
                        <div class="overflow-h">
                            <h3>We are good at ...</h3>
                            <p>Our mission statement is to ensure that we provide
                                the right resources at the right time to maximize our clients
                                business potential. We deliver, no matter what</p>
                        </div>
                    </div>
                    <div class="margin-bottom-20"></div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/about/visonsm.png")" alt="">
                </div>
            </div>
        </div><!--/container-->
    </div>
    <div class="container content">
        <div class="title-box-v2">
            <h2>Our <span class="color-green">Team Management</span></h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">A team of dedicated employees is the
                    force behind our immense success in this industry.
                    Our team is not just a bunch of people who are monotonously
                    doing their assigned tasks. Our team is dynamic, prolific, passionate and judicious.
                    All these qualities boost our processes and help inidentifying,
                    scrutinizing and selecting the right aspirants for the right jobs.</p>
            </div>
        </div>
    </div>
    <div class="parallax-team parallaxBg" style="background-position: 50% 117px ;">
        <div class="container content">
            <div class="title-box-v2">
                <h2>Build Your <span class="color-green">Own</span> Talents</h2>
                <p>Aside from being high performance... we're also the nicest people you'll ever meet.
                    Our mission is to build a bridge between employee and employer. 
                    We achieved this status by the dedicated accomplishment of a highly motivated,
                    professional and experience team who are highly dedicated.</p>
            </div>

            <div class="row">
                    <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center flip" style="min-height: 436px ;">
                        <div class="front">
                            <div class="box1 box-default" style="min-height: 436px ;">
                                <span class="box-icon-title">
                                    <img class="img-responsive" src="@routes.Assets.versioned("images/about/team/rahul.jpg")" alt="">
                                    <h2>Rahul Chaudhary</h2>
                                    <small>Co-Founder</small>
                                </span>
                            </div>
                        </div>

                        <div class="back">
                            <div class="box2 box-default" style="min-height: 436px ;">
                                <h4 class="nomargin">Rahul Chaudhary</h4>
                                @*<small>Co-Founder</small>*@
                                <hr>
                                <p>Enthusiastic & Passionate about recruitment, Result Oriented, Perseverant</p>
                                <p>Experience in sourcing using: internet channels, through Agents, employee referrals,
                                   job boards, cold calling, and other innovative search techniques.</p>
                                @*<p>Prepares the recruitment dashboards, Analyzes the performance of recruitment process,
                                    the cost per hire, time to time hire and recommends changes to the
                                    recruitment process Keep an eye towards their implementation and improvements</p>*@
                                @*<p> Maintains customer/Employer satisfaction for all assigned deliverables like hirirng right Candidtes, consulting, visa assistance.</p>*@
                                <hr>
                                <ul class="list-inline team-social">
                                    <li>
                                        <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                            <i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- End Team v2 -->
                        <!-- Team v2 -->
                    <div class="col-md-3 col-sm-6">
                        <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center flip" style="min-height: 436px ;">
                            <div class="front">
                                <div class="box1 box-default" style="min-height: 436px ;">
                                    <span class="box-icon-title">
                                        <img class="img-responsive" src="@routes.Assets.versioned("images/about/team/nitin.jpg")" alt="">
                                        <h2>Nitin Tyagi</h2>
                                        <small>Director</small>
                                    </span>
                                </div>
                            </div>

                            <div class="back">
                                <div class="box2 box-default" style="min-height: 436px ;">
                                    <h4 class="nomargin">Nitin Tyagi</h4>
                                    @*<small>Co-Founder</small>*@
                                    <hr>
                                     <p>Contact me on following</p>
                                    @*<p>Prepares the recruitment dashboards, Analyzes the performance of recruitment process,
                                    the cost per hire, time to time hire and recommends changes to the
                                    recruitment process Keep an eye towards their implementation and improvements</p>*@
                                    @*<p> Maintains customer/Employer satisfaction for all assigned deliverables like hirirng right Candidtes, consulting, visa assistance.</p>*@
                                    <hr>
                                    <ul class="list-inline team-social">
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                                <i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team v2 -->
                            <!-- Team v2 -->
                        <div class="col-md-3 col-sm-6">
                            <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center flip" style="min-height: 436px ;">
                                <div class="front">
                                    <div class="box1 box-default" style="min-height: 436px ;">
                                        <span class="box-icon-title">
                                            <img class="img-responsive" src="@routes.Assets.versioned("images/about/team/chetan.jpg")" alt="">
                                            <h2>Chetan Sharma</h2>
                                            <small>HR Manager</small>
                                        </span>
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="box2 box-default" style="min-height: 436px ;">
                                        <h4 class="nomargin">Chetan Sharma</h4>
                                        @*<small>Co-Founder</small>*@
                                        <hr>
                                         <p>Contact me on following</p>
                                        @*<p>Prepares the recruitment dashboards, Analyzes the performance of recruitment process,
                                        the cost per hire, time to time hire and recommends changes to the
                                        recruitment process Keep an eye towards their implementation and improvements</p>*@
                                        @*<p> Maintains customer/Employer satisfaction for all assigned deliverables like hirirng right Candidtes, consulting, visa assistance.</p>*@
                                        <hr>
                                        <ul class="list-inline team-social">
                                            <li>
                                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                                    <i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- End Team v2 -->

                    <!-- Team v2 -->
                            <div class="col-md-3 col-sm-6">
                                <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center flip" style="min-height: 436px ;">
                                    <div class="front">
                                        <div class="box1 box-default" style="min-height: 436px ;">
                                            <span class="box-icon-title">
                                                <img class="img-responsive" src="@routes.Assets.versioned("images/about/team/avinash.jpg")" alt="">
                                                <h2>Avinash</h2>
                                                <small>Accountant</small>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="back">
                                        <div class="box2 box-default" style="min-height: 436px ;">
                                            <h4 class="nomargin">Avinash</h4>
                                            @*<small>Co-Founder</small>*@
                                            <hr>
                                            <p>Contact me on following</p>

                                            @*<p>Prepares the recruitment dashboards, Analyzes the performance of recruitment process,
                                            the cost per hire, time to time hire and recommends changes to the
                                            recruitment process Keep an eye towards their implementation and improvements</p>*@
                                            @*<p> Maintains customer/Employer satisfaction for all assigned deliverables like hirirng right Candidtes, consulting, visa assistance.</p>*@
                                            <hr>
                                            <ul class="list-inline team-social">
                                                <li>
                                                    <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                                        <i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <!-- End Team v2 -->
            </div>
        </div>
    </div>
}
<script>

        //$(".box-flip").flip();
        $(".box-flip").flip({
            trigger: 'hover',
            reverse: true
        });

        /* function flipcardout(){
         $(".box-flip").flip(false);
         }*/
</script>