@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(userForm: Form[UserData], emailSent: Option[String])
    @*@@(message: String)*@
    @main("Welcome to Play") {

        <section id="main-slider" class="no-margin">
            <div class="carousel slide">
                <div class="makeSomething">
                    @if(emailSent.isDefined) {
                        <a class="displayMessage" style="display: none"></a>
                    }
                </div>

                <div class="carousel-inner">
                    <div class="item active slide-first">
                        <div class="container">

                            <div class="row slide-margin">
                                <div class="col-xs-offset-1 col-md-offset-3 col-sm-6">
                                    <div class="carousel-content">
                                        <h1 class="animation animated-item-1">
                                            ANARA  @*is Recruiter-candidates meeting platform-Transform talent into success*@</h1>
                                        <h2 class="animation animated-item-2">
                                            Hire the right candidate or Pick your dream job</h2>
                                        @*<a id="signupbtn" class="btn-slide animation animated-item-3" onclick="showDiv()">Sign Up</a>*@
                                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Sign up
                                        </button>

                                    </div>
                                </div>
                                @*<div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                <img src="@routes.Assets.versioned("images/slider/img1.png")" class="img-responsive">
                                </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="recent-works">
            <div class="container">
                <div class="center wow fadeInDown">
                    <div class="col-md-4 col-sm-12">
                        <img src="@routes.Assets.versioned("images/Anara_L.png")" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h2>About <span style="color:#f3760a ;">AnaraConsultant</span></h2>
                        <div class="row team-bar text-center">
                            <div class="first-arrow hidden-xs">
                                <hr>
                            </div>
                            <div class="second-arrow hidden-xs">
                                <hr> <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="lead">
                            <p>
                            ANARA CONSULTANT, a foremost manpower consulting firm based in Delhi NCR, we are proud of being one of the best in the industry with an overall experience of 30 years, providing end to end recruitment solutions across multiple industries. Anara consultant is backed by some of the best professionals of the trade, making the whole process hassle free. We are a human resource oriented company and have enjoyed a position of emerging eminence in the field of recruitment of both  technical and non technical personnel for organisations abroad.
                            We are a company driven by ideals, a company that prides itself upon 30 glorious years of providing global clients with the most outstanding
                            </p>
                        <p style="text-align:center ;">
                            manpower in the world.
                        </p>
                        </div>    
                        <a class="btn btn-primary" href="">Know More</a>
                    </div>
                </div>
            </div>
        </section>


        <section id="feature" >
            <div class="container">
                <div class="center wow fadeInDown">
                    <h2>Area of Expertise</h2>
                    <p class="lead"> Anara is expertise to hire right candidates in enoromous area  are <br> </p>
                </div>

                <div class="row">
                    <div class="features">
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-cogs"></i>
                                <h2>Civil, Mechanical & Electrical Engg</h2>
                                <h3> Mechanical, Civil, Electrical</h3>
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-home"></i>
                                <h2>Hospitality Industry</h2>
                                <h3>Hotels, Motels, Resorts, Restaurants, Cruises</h3>
                            </div>
                        </div><!--/.col-md-4-->

                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-medkit"></i>
                                <h2>Medical</h2>
                                <h3>Hospitals, Nursing Homes, Old Age Homes</h3>
                            </div>
                        </div><!--/.col-md-4-->
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-dropbox "></i>
                                <h2>Information Technology</h2>
                                <h3>Hardware, Software, Telecommunications</h3>
                            </div>
                        </div><!--/.col-md-4-->
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-tint"></i>
                                <h2>Oil & Gas Field Operation Personnel</h2>
                                <h3>Mechanical, Civil, Electrical, Electro-Mechanical, Pipeline</h3>
                            </div>
                        </div><!--/.col-md-4-->
                        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="feature-wrap">
                                <i class="fa fa-plane"></i>
                                <h2>Aeronautical Engineers & General</h2>
                                <h3>Administration, Production, Maintenance, Technical</h3>
                            </div><!--/.col-md-4-->
                        </div><!--/.services-->
                    </div><!--/.row-->
                </div><!--/.container-->
            </div>
        </section> <!--/#feature-->
        <div class="section-content" style="">
            <div class="container" id="client">
                <div class="headings">We work with</div>
                <ul>
                    <li class="client-logo">
                        <a class="change-image" href="http://www.salemgroups.com/" target="_blank">
                            <img alt=" salem" src="@routes.Assets.versioned("images/partners/salem.png")" height="105px">
                        </a>
                    </li>
                    <li class="client-logo">
                        <a class="change-image" href="http://galfar.com/" target="_blank">
                            <img alt="galfar" src="@routes.Assets.versioned("images/partners/galfar-logo.png")" height="105px">
                        </a>
                    </li>
                    <li class="client-logo">
                        <a class="change-image" href="http://assarain.com/" target="_blank">
                            <img alt="assrain" src="@routes.Assets.versioned("images/partners/assarain-logo.gif")" height="105px">
                        </a>
                    </li>
                    <li class="client-logo">
                        <a class="change-image" href="http://algharbiagroup.com/" target="_blank">
                            <img alt="partners" src="@routes.Assets.versioned("images/partners/gharbia.jpg")" height="105px">
                        </a>
                    </li>
                    <li class="client-logo">
                        <a class="change-image" href="http://www.ohigroup.com/newsite/" target="_blank">
                            <img class="ohi-image" alt="" src="@routes.Assets.versioned("images/partners/ohi.jpg")" height="105px">
                        </a>
                    </li>
                    <li class="client-logo">
                        <a class="change-image" href="http://omanshapoorji.com/" target="_blank">
                            <img class="some-image" alt="starbucks" src="@routes.Assets.versioned("images/partners/osco.png")" height="105px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <section id="conatcat-info">
            <div class="container">
                    <div class="section-content section-alter knoldus-section-content" style="padding:0">
                        <ul class="place-list">
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/india.gif")"></a></li>
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/bahrain.gif")"></a></li>
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/dubai.gif")"></a></li>
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/oman.gif")"></a></li>
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/qatar.gif")"></a></li>
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/libiya.gif")"></a></li>
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/jordan.gif")"></a></li>
                            <li><a href="#"><img src="@routes.Assets.versioned("images/flags/saudi.gif")"></a></li>
                        </ul>
                    </div>
            </div><!--/.container-->
        </section> <!--/#conatcat-info-->

            <!-- Modal -->
        <div class="modal popup-open" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Register Yourself</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/widgets" id="signup-form" name="ashupagal" class="form-wrapper" method="post" role="form" validate="">
                            <div class="form-group clearfix">
                                <input type="text" id="name" name="firstname" placeholder=" First Name *" required="">
                            </div>

                            <div class="form-group clearfix">
                                <input type="text" id="name" name="lastname" placeholder=" LastName *" required="">
                            </div>

                            <div class="form-group clearfix">
                                <input type="text" id="name" name="phone" placeholder=" Phone Number *" pattern=".{10,}" required title="10 characters minimum" maxlength="10">
                            </div>

                            <div class="form-group clearfix">
                                    <!-- type email used by jquery validate -->
                                <input type="email" id="email" name="email" placeholder="E-mail *" required="">
                            </div>

                            <div class="form-group clearfix">
                                    <!-- type email used by jquery validate -->
                                <textarea name="message" id="message" placeholder="Your Message" required="" style="min-height: 90px ;"></textarea>
                            </div>


                            <div class="form-group clearfix">

                                <input type="submit" value="Send" class="btn btn-primary leave-message-btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
