@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>404 | Anara </title>
            <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href="css/font-awesome.min.css" rel="stylesheet">
            <link href="css/prettyPhoto.css" rel="stylesheet">
            <link href="css/animate.min.css" rel="stylesheet">
            <link href="css/main.css" rel="stylesheet">
            <link href="css/responsive.css" rel="stylesheet">
                <!--[if lt IE 9]>
    <![endif]-->
        </head><!--/head-->
        <body>
            <section id="error" class="container text-center">
                <h1 style="text-align:center; margin-top:20%">Site is under construction </h1>
                <p style="text-align:center; color:red"> We'll get back to you, soon </p>
            </section><!--/#error-->


             <!--/#footer-->
        </body>
    </html>

}
