@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <link href='//fonts.googleapis.com/css?family=Quicksand|Open+Sans:400,600|Montserrat:400,700|Poiret+One|Josefin+Sans|Raleway' rel='stylesheet' type='text/css'>
        <meta name="google-site-verification" content="ZH2yvt6jWmNHrjSwkYac1IH3XVxXCaJ5SdGCdcsOq4Q"/>
        <title>AnaraConsultant</title>
        <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/animate.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/prettyPhoto.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/responsive.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/sweetalert.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link href="@routes.Assets.versioned("css/services.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/custom.css")" rel="stylesheet">

    </head>
    <body>
        @* And here's where we render the `Html` object containing
        * the page content. *@
        <header id="header">
            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="@routes.Assets.versioned("images/anara-logo.png")" alt="logo" height="65px"></a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right">
                        <ul id="navbar" class="nav navbar-nav">
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.about()">About Us</a></li>
                            <li><a href="@routes.HomeController.services()">Services</a></li>
                            <li><a href="@routes.HomeController.pagenotfound()">Current Opportunities</a></li>
                            <li><a href="@routes.HomeController.contactus()">Contact Us</a></li>
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->

        </header><!--/header-->

        @content
        <section class="bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 bg-gray-text">
                            <h2>Anaraconsultant</h2>
                            <p style="width:250px; margin-top:20px">We, Anara Consultant, have expertise in offering services
                                for Overseas Recruitment. As job seekers, you can rely upon
                                us for overseas placements in various sectors.</p>
                            <p>We have set up a wide network spread overseas in order to serve you in
                                getting jobs in your area of interest.</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Links</h2>
                            <ul>
                                <li><i class="fa fa-arrow-circle-o-right"></i><a href="@routes.HomeController.index()">Home</a> </li>
                                <li><i class="fa fa-arrow-circle-o-right"></i><a href="@routes.HomeController.about()">About Us</a> </li>
                                <li><i class="fa fa-arrow-circle-o-right"></i><a href="@routes.HomeController.contactus()">Contact Us</a></li>
                                <li><i class="fa fa-arrow-circle-o-right"></i><a href="@routes.HomeController.services()">Services</a></li>
                                <li><i class="fa fa-arrow-circle-o-right"></i><a href="@routes.HomeController.pagenotfound()">Current Opportunities</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h2>Address</h2>
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">A-4, PS Arcade,</span><br>
                                    <span class="region">Bhoja Market, Sector-27.</span><br>
                                    <span class="postal-code">Noida-201301.</span><br>
                                    <span class="country-name"><b >India</b></span>
                                </span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>+91-9560638436</p>
                            <p class="tel"><i class="fa fa-phone"></i>+91 120 2542066</p>
                            <p class="email"><i class="fa fa-envelope"></i> contact@@anaraconsultant.com </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                            &copy; copyright 2011 <a target="_blank" href="www.anaraconsultant.com" title="copyright">
                        AnaraConsultant</a>. All Rights Reserved.
                    </div>
                   @* <div class="col-sm-6">
                        <ul class="pull-right">
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.about()">About Us</a></li>
                            <li><a href="@routes.HomeController.contactus()">Contact Us</a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </footer><!--/#footer-->

        <script src="@routes.Assets.versioned("js/jquery.js")"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.prettyPhoto.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.isotope.min.js")"></script>
        <script src="@routes.Assets.versioned("js/main.js")"></script>
        <script src="@routes.Assets.versioned("js/wow.min.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.blockUI.js")"></script>
        <script src="@routes.Assets.versioned("js/sweetalert.min.js")"></script>
        <script src="@routes.Assets.versioned("js/custom.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.flip.js")"></script>

    </body>
</html>
