@(message: String)
@views.html.main("Welcome to Play") {
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header page-header-with-icon" style="border-top:none ; border-bottom: 2px solid #eaedf2 ;
                padding-bottom: 20px ;
                padding-top: 10px ;
                margin: 30px 0 0px 0 ;
                ">
                    <i class="fa fa-suitcase" style="top:70px"></i>
                    <h2 style="text-transform: uppercase ;
                    font-weight: 500 ;
                    margin: 18px 10px ;
                    font-size: 26px ;
                    ">
                        Our Services
                    </h2>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 service_block text-center">
                <div class="content-box">
                    <h3>
                        <i class="fa fa-users process-icon" style="padding:15px 17px ; font-size: 35px ;"></i>
                    </h3>
                    <h4 class="h4-body-title process-flow-heading">1. Overseas Recruitment</h4>

                    <p class="process-flow-paragraph">
                        We, Anara Consultant, have expertise in offering services for Overseas Recruitment. As job seekers, you can rely upon us for overseas placements in various sectors. We have set up a wide network spread overseas in order to serve you in getting jobs in your area of interest. With the support of our experienced professionals, we help you in getting placed as a HR. manager, Civil Engineer, Bio-medical technician, supervisor, division head, production manager, marketing executive, accountant, computer operator, content writer/editor and many more depending upon your educational qualification, skills and area of interest. 
                        Also we organize walk in interview for getting hired directly by client and explore about the company by company professional itself. We find suitable place and companies for you and find suitable candidates for the company as well.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @*<i class="fa fa-suitcase"></i>*@
                <h2 class="process-flow-heading" style="font-family: 'Quicksand',sans-serif ;
                text-transform: capitalize ;
                font-size: 22px ; text-align: center
                ">
                    Procedure
                    @*<small>We hire Quality people</small>*@
                </h2>

            </div>
            <div class="col-md-12">
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-circle-big-contrast" href="#">
                        <div class="panel-icon">
                            <p>1</p>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Identification</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-circle-big-contrast" href="#">
                        <div class="panel-icon screening">
                            <p>2</p>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Screening</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-circle-big-contrast" href="#">
                        <div class="panel-icon interview">
                            <p>3</p>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Interview</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 panel-item">
                    <a class="panel panel-circle-big-contrast" href="#">
                        <div class="panel-icon filtering">
                            <p>4</p>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">Filtering</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 service_block text-center">
                <div class="content-box">
                    <h3>
                        <i class="fa fa-gavel process-icon" style="padding:15px 17px ; font-size: 35px ;"></i>
                    </h3>
                    <h4 class="h4-body-title process-flow-heading">2. Document Attestation</h4>

                    <p class="process-flow-paragraph">
                        One of the things which can make or break your chances of getting that dream
                        job is proper documentation, especially for an overseas location.
                        It is important to be aware of the rules of MEA (Ministry of Foreign Affairs)
                        and arrange accordingly. If you do not follow the MEA guidelines,
                        the process becomes null and void. We help our clients complete this process,
                        without any hassles or misinterpretations.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 service_block">
                <div class="content-box-text justify paragraph_google_font">
                    Following documents (foreign countries) require attestations:
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Educational Certificates: Degree & Mark sheet of concerned exams.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp; Affidavits.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Transfer Certificate.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Marriage Certificate.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Birth Certificate.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Power of Attorney.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Legalization Certificate.
                </div>
            </div>
            <div class="col-md-12 col-sm-12 service_block">
                <div class="content-box-text justify paragraph_google_font">
                    All Attestations are authenticated from:
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Delhi Embassy.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp; HRD (Ministry of Human Resource Development).
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;MEA (Ministry of External Affairs).
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;State Home Department.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Birth Certificate.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;From all concerned Embassies.
                </div>
                <div class="content-box-text justify paragraph_google_font" style="font-weight: normal">
                    <i class="fa fa-thumbs-up"></i>&nbsp;Legalization Certificate.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 service_block text-center">
                <div class="content-box">
                    <h3>
                        <i class="fa fa-plane process-icon" style="padding:15px 17px ; font-size: 35px ;"></i>
                    </h3>
                    <h4 class="h4-body-title process-flow-heading">3. Domestic and International Air Ticket</h4>

                    <p class="process-flow-paragraph">
                        We offer you the best price for making your journey affordable so that you can enjoy your travel and holiday.</p>
                </div>
            </div>
        </div>
        <div class="row contact-form  ">
            <div class="col-md-12 col-sm-12" style="margin-bottom: 30px; font-weight: bold; font-size: 16px;">
                <div class="bordered-form">
                    <h3> Send your details to book your ticket <br>
                        <span style="text-transform: none;font-weight: normal;font-size: 18px;position: relative;top: 10px;left: 0px;letter-spacing: 0px;color:#000;font-family: 'Josefin Sans', sans-serif;">
                            ( or send a mail to <a href="mailto:inf@@anaraconsultant">
                            contact@@anaraconsultant.com</a> with your details. )
                        </span>
                    </h3>
                    <form action="/contactform" id="signup-form" name="ashupagal" class="form-wrapper" method="post" role="form" validate="">
                        <div class="form-group clearfix">
                            <label>First Name</label>
                            <input type="text" id="name" name="firstname" required="">
                        </div>

                        <div class="form-group clearfix">
                            <label>Last Name</label>
                            <input type="text" id="name" name="lastname" required="">
                        </div>

                        <div class="form-group clearfix">
                            <label>Phone Number</label>
                            <input type="text" id="name" name="phone" required="">
                        </div>

                        <div class="form-group clearfix">
                            <label>Email</label>
                            <input type="email" name="email" id="user-email" required="">
                        </div>

                        <div class="form-group clearfix">
                            <label>Message</label>
                            <textarea name="message" id="message" required="" style="min-height: 90px;"></textarea>
                        </div>
                        <div class="form-group clearfix">
                            <input type="submit" value="Send" class="btn btn-primary leave-message-btn">
                        </div>
                    </form>
                </div>

            </div>
         </div>
    </div>
        }
<script>
        var canvas = document.getElementById("myCanvas");
        var context = canvas.getContext('2d');
        var imageObj = new Image();

        imageObj.onload = function() {
            context.drawImage(imageObj, 30, 60);
        };

        imageObj.src = "@routes.Assets.versioned("images/services/procedure/img1.png")";
        $(document).ready(function(){

            $('#change').click(function(){
                var a = $('#takeinput').val();
                console.log("a:== " +a);
                $('p').text(a);
            });
        });
</script>